.table {
	table-layout: fixed;
	overflow:auto;
}

.table th{
	text-aling:center;
}

.table td{
	text-aling:center;
	background: whitesmoke;
	
	text-overflow:ellipsis;
	white-space:no-wrap;
}

.container-wrapper .container{
	position:relative;
	top:60px;
}